{% extends "layout.html" %}

{% block content %}


<div class="rgb-content-wrap">
    <!--Blog Detail Page Start-->
    <section class="contactus-page">
        <div class="container">
            <div class="row">
                <div class="rgb-contact-wrap margin-bottom30">
                    <div class="col-md-10">
                        <!--Contact Contant Start-->
                        <div class="rgb-contact-contant rgb-white-style">
                            <h5>Контактная информация</h5>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            Полное наименование организации
                                        </td>
                                        <td>
                                            АО «Профессиональный футбольный клуб ЦСКА»
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Сокращенное наименование организации
                                        </td>
                                        <td>
                                            АО&nbsp;«ПФК ЦСКА»
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            ИНН/КПП
                                        </td>
                                        <td>
                                            7734046851/771401001
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Юридический адрес
                                        </td>
                                        <td>
                                            125252, г. Москва, ул. 3-я Песчаная, д. 2А.<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Фактический (почтовый) адрес
                                        </td>
                                        <td>
                                            125252, г. Москва, ул. 3-я Песчаная, д, 2А, северо-западное
                                            административное здание, 10-й этаж.<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Телефон клуба
                                        </td>
                                        <td>
                                            +7 (495) 646-88-88<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Электронная почта
                                        </td>
                                        <td>
                                            <a href="mailto:office@pfc-cska.com" target="_blank">office@pfc-cska.com</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Официальный сайт
                                        </td>
                                        <td>
                                            <a href="http://www.pfc-cska.com">pfc-cska.com</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Билетный отдел
                                        </td>
                                        <td>
                                            +7 (495) 646-88-88 (доб. 6915)<br>
                                            <a href="mailto:tickets@pfc-cska.com"
                                                target="_blank">tickets@pfc-cska.com</a><br>
                                            Телефон касс: +7 (495) 540-89-99
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Рекламно-коммерческий отдел
                                        </td>
                                        <td>
                                            <a href="mailto:pr@pfc-cska.com"> </a><a
                                                href="mailto:pr@pfc-cska.com">pr@pfc-cska.</a><a
                                                href="mailto:pr@pfc-cska.com">com</a>&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Пресс-служба
                                        </td>
                                        <td>
                                            <a href="mailto:cska@pfc-cska.com">cska@pfc-cska.com</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1">
                                            Контакты ВЭБ Арены
                                        </td>
                                        <td colspan="1">
                                            125252, г. Москва, ул. 3-я Песчаная, д, 2А<br>
                                            тел.: +7 (495) 540-38-83<br>
                                            <a href="mailto:stadium@pfc-cska.com">stadium@pfc-cska.com</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1">
                                            Сотрудник по работе со зрителями с инвалидностью
                                        </td>
                                        <td colspan="1">
                                            Иван Уланов<br>
                                            <a href="mailto:office@pfc-cska.com">office@pfc-cska.com</a>&nbsp;<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Детско-юношеская спортивная школа ПФК ЦСКА
                                        </td>
                                        <td>
                                            +7 (499) 728-62-40<br>
                                            <a href="mailto:school@pfc-cska.com">school@pfc-cska.com</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">
                                            Реквизиты банка для расчета в&nbsp;валюте РФ
                                        </td>
                                        <td>
                                            ВЭБ.РФ, г. Москва<br>
                                            р/сч 4070 2810 7268 9942 1697<br>
                                            кор/сч 3010 1810 5000 0000 0060<br>
                                            БИК 044525060, ИНН 7750004150
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3>Офис ПФК ЦСКА, ВЭБ Арена</h3>
                            <p>
                                г. Москва, ул. 3-я Песчаная, 2А
                                <iframe style="border: 0;"
                                    src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d8972.322340571116!2d37.51013486156702!3d55.79183859035846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x46b549baac5cc7cf%3A0xe0032ec4e5525807!2z0KHRgtCw0LTQuNC-0L0g0KbQodCa0JAsIDMt0Y8g0J_QtdGB0YfQsNC90LDRjyDRg9C70LjRhtCwLCAyINGB0YLRgNC-0LXQvdC40LUgMTgsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMjUyNTI!3m2!1d55.7916452!2d37.5159123!5e0!3m2!1sru!2sru!4v1473190282628"
                                    allowfullscreen="allowfullscreen" width="600" height="450" frameborder="0"></iframe>
                            </p>
                            <br>
                            <h3>Спортбаза ЦСКА</h3>
                            <p>
                                Москва, д. Десна, ул. Центральная<br>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3195.096763002318!2d37.36823169957022!3d55.510165076829246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x63d4ec0ac6941aea!2z0JLQsNGC0YPRgtC40L3QutC4INCh0L_QvtGA0YLQuNCy0L3Ri9C5INCm0LXQvdGC0YAg0KbQodCa!5e0!3m2!1sru!2sru!4v1468324766810"
                                    style="border:0" allowfullscreen="" width="820" height="500"
                                    frameborder="0"></iframe>
                            </p>
                            <br>
                            <h3>База ДЮСШ ПФК ЦСКА</h3>
                            <p>
                                Москва, ул. Живописная, д. 21, стадион Октябрь<br>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5335.052098219742!2d37.44880751029245!3d55.79127411617487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b548f1f0674b0f%3A0xa7b9a0ed6816f4e!2z0J7QutGC0Y_QsdGA0Yw!5e0!3m2!1sru!2sru!4v1468324635895"
                                    style="border:0" allowfullscreen="" width="820" height="500"
                                    frameborder="0"></iframe>
                            </p>
                            <br>
                            <h3>Документы</h3>
                            <b>Результаты СОУТ</b><br>
                            <a href="https://pfc-cska.com/upload/Сводная%20ведомость.pdf" target="_blank">Сводная
                                ведомость результатов проведения специальной
                                оценки условий труда</a><br>
                            <a target="_blank"
                                href="https://pfc-cska.com/upload/Перечень%20рекомендуемых%20мероприятий.pdf">Перечень
                                рекомендуемых мероприятий по
                                улучшению условий труда</a><br>
                            <a href="https://pfc-cska.com/upload/сводная_ведомость_соут_2019.pdf"
                                target="_blank">Сводная ведомость СОУТ за 2019 год</a><a target="_blank"
                                href="https://pfc-cska.com/upload/сводная_ведомость_соут_2019.pdf"></a><br>
                            <a target="_blank"
                                href="https://pfc-cska.com/upload/перечень_мероприятий_соут_2019.pdf">Перечень
                                рекомендуемых мероприятий СОУТ
                                2019</a><br>
                        </div>
                        <!--Contact Contant End-->
                    </div>
                </div>
                <!--Contact Wrp End-->
            </div>
        </div>
    </section>
    <!--Blog Detail Page End-->
</div>


{% endblock %}