<!--Navigation Wrap Start-->
<div class="rgb-navigation-wrap">
    <!--navigation inner Wrap Start-->
    <div class="kode-navigation-wrapper">
        <nav class="navigation">
            <div class="menu-main-menu-container">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li class="active"><a href="/news">Новости</a></li>
                    <li class="active"><a href="/matches">Матчи</a></li>
                    <li class="active"><a href="/team">Команда клуба</a></li>
                    <li class="active"><a href="/contacts">Контакты</a></li>
                    <li class="active"><a href="/history">История ЦСКА</a></li>
                </ul>
            </div>
        </nav>
        <!--Responsive Menu END-->
    </div>
    <!--navigation inner Wrap End-->
</div>
<!--Navigation Wrap End-->