{% extends "layout.html" %}

{% block content %}
<div class="rgb-content-wrap">
    <!--Blog Detail Page Start-->
    <section class="team-alpha-listing-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member35.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">35</span>
                                <h5><a href="#">Игорь Акинфеев</a></h5>
                                <h5 style="text-align: center;">Вратарь</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member1.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">1</span>
                                <h5><a href="#">Илья Помазун</a></h5>
                                <h5 style="text-align: center;">Вратарь</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member5.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">5</span>
                                <h5><a href="#">Виктор Васин</a></h5>
                                <h5 style="text-align: center;">Защитник</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member27.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">27</span>
                                <h5><a href="#">Седрик Гогуа</a></h5>
                                <h5 style="text-align: center;">Защитник</h5>
                                <h5 style="text-align: center;">Кот-д’Ивуар</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member78.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">78</span>
                                <h5><a href="#">Игорь Дивеев</a></h5>
                                <h5 style="text-align: center;">Защитник</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member62.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">62</span>
                                <h5><a href="#">Вадим Карпов</a></h5>
                                <h5 style="text-align: center;">Защитник</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member13.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">13</span>
                                <h5><a href="#">Никита Котин</a></h5>
                                <h5 style="text-align: center;">Защитник</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member23.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">23</span>
                                <h5><a href="#">Хёрдур Магнуссон</a></h5>
                                <h5 style="text-align: center;">Защитник</h5>
                                <h5 style="text-align: center;">Исландия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member14.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">14</span>
                                <h5><a href="#">Кирилл Набабкин</a></h5>
                                <h5 style="text-align: center;">Защитник</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member2.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">2</span>
                                <h5><a href="#">Марио Фернандес</a></h5>
                                <h5 style="text-align: center;">Защитник</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member42.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">42</span>
                                <h5><a href="#">Георгий Щенников</a></h5>
                                <h5 style="text-align: center;">Защитник</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member7.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">7</span>
                                <h5><a href="#">Ильзат Ахметов</a></h5>
                                <h5 style="text-align: center;">Полузащитники</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member29.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">29</span>
                                <h5><a href="#">Яка Бийол</a></h5>
                                <h5 style="text-align: center;">Полузащитники</h5>
                                <h5 style="text-align: center;">Словения</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member25.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">25</span>
                                <h5><a href="#">Кристиян Бистрович</a></h5>
                                <h5 style="text-align: center;">Полузащитники</h5>
                                <h5 style="text-align: center;">Хорватия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member8.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">8</span>
                                <h5><a href="#">Никола Влашич</a></h5>
                                <h5 style="text-align: center;">Полузащитники</h5>
                                <h5 style="text-align: center;">Хорватия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member10.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">10</span>
                                <h5><a href="#">Алан Дзагоев</a></h5>
                                <h5 style="text-align: center;">Полузащитники</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member20.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">20</span>
                                <h5><a href="#">Константин Кучаев</a></h5>
                                <h5 style="text-align: center;">Полузащитники</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member87.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">87</span>
                                <h5><a href="#">Константин Марадишвили</a></h5>
                                <h5 style="text-align: center;">Полузащитники</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member98.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">98</span>
                                <h5><a href="#">Иван Обляков</a></h5>
                                <h5 style="text-align: center;">Полузащитники</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member17.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">17</span>
                                <h5><a href="#">Арнор Сигурдссон</a></h5>
                                <h5 style="text-align: center;">Полузащитники</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member18.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">18</span>
                                <h5><a href="#">Лассана Н'Диайе</a></h5>
                                <h5 style="text-align: center;">Нападающий</h5>
                                <h5 style="text-align: center;">Мали</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member9.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">9</span>
                                <h5><a href="#">Фёдор Чалов</a></h5>
                                <h5 style="text-align: center;">Нападающий</h5>
                                <h5 style="text-align: center;">Россия</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                    <!--Team Listing Thumb Start-->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-thumb team-list-thumb">
                            <div class="rgb-white-style triangle-effect">
                                <a href="#"><img src="/static/img/team-member99.jpg" alt=""></a>
                            </div>
                            <div class="team-list-thumb-title">
                                <span class="tag-no">99</span>
                                <h5><a href="#">Илья Шкурин</a></h5>
                                <h5 style="text-align: center;">Нападающий</h5>
                                <h5 style="text-align: center;">Беларусь</h5>
                            </div>
                        </div>
                    </div>
                    <!--Team Listing Thumb End-->
                </div>
                <!--Side Bar Wrap Start-->
                <div class="col-md-4">
                    <div class="kode-sidebar-element">
                        {% include 'next_match_widgit.html' %}
                    </div>                    
                </div>
                <!--Side Bar Wrap End-->
            </div>
        </div>
    </section>
    <!--Blog Detail Page End-->
</div>
{% endblock %}