{% set social_liks_visible=Flase %}
{% set footer_visible=Flase %}

{% extends "/layout.html" %}

{% block content %}

{% include '/siteadmin/extrnavigation.html' %}

<div class="rgb-content-wrap">
    <section>
        <div class="container">
            <div style="width: 80%; margin-left: auto; margin-right: auto; background-color: snow;">
                <h5 style="position: relative; margin-left: 10%; padding-top: 50px;">Login is {{login}}</h5>                
                <form action="/siteadmin/profile" method="POST"
                    style="position: relative; margin-left: 10%; padding-top: 50px; padding-bottom: 50px; padding-right: 60%;">                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Смена пороля</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="newpass"> 
                    </div>
                    <button type="submit" class="btn btn-primary">Сменить пароль</button>
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}