<div class="rgb-navigation-wrap">
    <!--navigation inner Wrap Start-->
    <div class="kode-navigation-wrapper">
        <nav class="navigation">
            <div class="menu-main-menu-container">
                <ul>                    
                    <li class="active"><a href="#" style="margin-left: 50px; letter-spacing: 0.6em;">Контент мейкер</a></li>
                </ul>
            </div>
        </nav>
        <!--Responsive Menu END-->
    </div>
    <div class="kode-navigation-wrapper" style="float: right;margin-right: 50px;">
        <nav class="navigation">
            <div class="menu-main-menu-container">
                <ul>
                    <li class="active"><a href="/contentmaker/news">Новости</a></li>
                    <li class="active"><a href="/contentmaker/matches">Матчи</a></li>
                    <li class="active"><a href="/contentmaker/profile">Мой профиль</a></li>
                    <li class="active"><a href="/logout">LOGOUT</a></li>
                </ul>
            </div>
        </nav>
        <!--Responsive Menu END-->
    </div>
    <!--navigation inner Wrap End-->
</div>